[Unit]
Description=reverse_proxy service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/bash -c '/usr/local/bin/reverse_proxy --c /usr/local/etc/reverse_proxy/config.txt'

[Install]
WantedBy=multi-user.target
